html {
  @apply h-auto scroll-smooth;
  scroll-padding-top: 64px;
}

body {
  @apply min-h-dvh font-sans text-sm lg:text-lg font-semibold select-none overflow-x-hidden;
  line-height: 1.2em;
}

#__test-app {
  @apply min-h-dvh flex flex-col;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans leading-[1.4em] lg:leading-[1.6em];
}

p,
span {
  @apply leading-[1.4em];
}

h1 {
  @apply text-[28px] lg:text-[32px] text-left font-bold;
}

h2 {
  @apply text-[22px] lg:text-[32px] text-left leading-[1em] font-semibold mb-7 lg:mb-[24px];
}

h3 {
  @apply text-lg xl:text-2xl font-bold tracking-wider;
}

h4 {
  @apply text-[18px] lg:text-xl mb-2 text-left font-bold;
}

h5 {
  @apply text-[14px] md:text-[16px] text-left font-medium;
}

h6 {
  @apply text-[16px] font-medium;
}

.container {
  @apply mx-auto md:max-w-[990px] xl:max-w-[1440px] px-4 sm:px-6 w-full;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  @apply appearance-none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

a {
  @apply transition hover:opacity-90;
}

main {
  @apply min-h-dvh flex-1;
}

section {
  @apply pb-[4dvh] py-10 flex-1 h-full ;
  .section-container {
    @apply p-3 md:px-8 pt-5 pb-5 w-full h-full ;
  }
}

.shadow-card {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.10);
}

footer {
  @apply flex-1 relative overflow-hidden py-6 h-full;
}

.ui-scrollbars ::-webkit-scrollbar {
  @apply bg-transparent w-2 h-2 rounded;
}

.ui-scrollbars ::-webkit-scrollbar-track {
  @apply bg-gray-400;
}

.ui-scrollbars ::-webkit-scrollbar-thumb {
  @apply rounded bg-white/50 w-4 transition-all;
}

.ui-scrollbars ::-webkit-scrollbar-thumb:hover {
  @apply bg-white/50 transition-all;
}
